header
	.container-horizontal
		.container-center
			.row.header_line
				.col-md-6.col-sm-8.col-xs-8
					.tel
						p Call Us: 
							a(href="tel: +74951234567") xxxxx xxxxxxxxxx
					.email
						p Email Us: 
							a(href="mailto: example@mail.ru") contact@mydomain.com

				.col-md-6.col-sm-4.col-xs-4
					form(action="", class="search-form")
						input(type="text" class="form-control" placeholder="Search...")
						button(type="submit" id="searchsubmit" class="search_icon")
							span(class="fa-stack fa-lg")
								i(class="fa fa-circle fa-stack-2x")
								i(class="fa fa-search fa-stack-1x fa-inverse")
.container-horizontal.menu_bgc
	.container-center
		.top_menu_line
			.col-md-3.col-sm-3.col-xs-3
				.logowrap
					a(href="#")
						img(src="img/logo.png" alt="alt")
			.col-md-9.col-sm-9.col-xs-9
				nav.top_mnu
					button#mobileMenu
						span
						span
						span
					ul
						li.active
							a(href="#") Homepage 
							p.
								test text here
						li
							a(href="#") Style demo
							p.
								test text here
						li
							a(href="#") Full width
							p.
								test text here
						li
							a(href="#") Portfolio
							p.
								test text here
						li
							a(href="#") Gallery
							p.
								test text here
						li
							a(href="#") Dropdown
							p.
								test text here
<!-- header -->
.container-horizontal
	.owl-carousel
		.owl_item_wrap
			.owl_img_wrap
				img(src="img/owl1.jpg" alt="alt")
		.owl_item_wrap
			.owl_img_wrap
				img(src="img/owl2.jpg" alt="alt")
		.owl_item_wrap
			.owl_img_wrap
				img(src="img/owl3.jpg" alt="alt")
.container-horizontal
	section.container-center
		.citate
			p.
				“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque „
.container-horizontal
	.container-center
		article.main_articles
			.row
				.col-md-3.col-sm-3.col-xs-12
					.news_item
						a(href="#")
							.img_wrap
								img(src="img/news2.jpg" alt="alt")
							.text_wrap
								h3 Indonectetus facilis
								p Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui fermentumnec.
				.col-md-3.col-sm-3.col-xs-12
					.news_item
						a(href="#")
							.img_wrap
								img(src="img/news2.jpg" alt="alt")
							.text_wrap
								h3 Indonectetus facilis
								p Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui fermentumnec. Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui fermentumnec.
				.col-md-3.col-sm-3.col-xs-12
					.news_item
						a(href="#")
							.img_wrap
								img(src="img/news3.jpg" alt="alt")
							.text_wrap
								h3 Indonectetus facilis
								p.
									Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui fermentumnec.
				.col-md-3.col-sm-3.col-xs-12
					.news_item
						a(href="#")
							.img_wrap
								img(src="img/news4.jpg" alt="alt")
							.text_wrap
								h3 Indonectetus facilis
								p Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui fermentumnec.
.container-horizontal
	.container-center
		section.margin_top
			article.services
				h3.srv_memb_tit Lorem Ipsum Dolor
				a(href="#" class="view_more") View More »
				span.serv_line
				.service
					a(href="#")
						.serv_img
							img(src="img/services1.png" alt="alt")
						.serv_text_wrap
							h4 Indonectetus facilis
							p Vestibulu maccumsan ege stibulum eu justo convallis aug ue estas aenean elit intes que sed. Facili spede estib ulum.
				.service
					a(href="#")
						.serv_img
							img(src="img/services2.png" alt="alt")
						.serv_text_wrap
							h4 Indonectetus facilis
							p Vestibulu maccumsan ege stibulum eu justo convallis aug ue estas aenean elit intes que sed. Facili spede estib ulum.
				.service
					a(href="#")
						.serv_img
							img(src="img/services3.png" alt="alt")
						.serv_text_wrap
							h4 Indonectetus facilis
							p Vestibulu maccumsan ege stibulum eu justo convallis aug ue estas aenean elit intes que sed. Facili spede estib ulum.
				.service
					a(href="#")
						.serv_img
							img(src="img/services4.png" alt="alt")
						.serv_text_wrap
							h4 Indonectetus facilis
							p Vestibulu maccumsan ege stibulum eu justo convallis aug ue estas aenean elit intes que sed. Facili spede estib ulum.
			article.members
				h3.srv_memb_tit Lorem Ipsum Dolor
				a(href="#" class="view_more") View More »
				span.serv_line
				.member
					.memb_img_wrap
						img(src="img/john1.jpg" alt="alt")
					p
						span Name: 
						| John Doe
					a(href="#") View Profile »
				.member
					.memb_img_wrap
						img(src="img/john2.jpg" alt="alt")
					p
						span Name: 
						| John Doe
					a(href="#") View Profile »