$primary_font: Georgia, sans-serif;
$primary_bg_color: #222222;
$news_bg_color: #f0f0f0;
$search_color: #e1e1e1;
$menu_line_color: #828282;
$serv_line_color: #e2e2e2;
$border_img: #3a3a3a;
$tx_white_color: #ffffff;
$tx_grey_color: #696969;
$tx_grey2_color: #333333;
$tx_grey3_color: #666666;
$tx_grey4_color: #cccccc;
$tx_green_color: #7c9c37;
$tx_input: #807d77;
$tx_copyright: #666666;
$input: #353535;
$fz_tx: 12px;
$fz_button: 13px;
$fz_h2: 14px;
$fz_h3: 18px;
$fz_logo: 26px;
$fz_quote: 28px;
$fz_date: 10px;
